## import module

In [22]:
import matplotlib.pyplot as plt
import random
import pandas as pd

#### üéâ ÌååÏùº Í≤ΩÎ°ú ÏßÄÏ†ï

In [23]:
path = '/content/cctv.csv'
cctv = pd.read_csv(path , encoding='cp949')

In [24]:
cctv.head()
cctv.info()

#cctv = cctv.fillna(0)
cctv = cctv.dropna()
cctv.isna().sum()

#p = [16, 75, 79, 146, 246, 302, 354, 358, 371, 400, 452, 470, 555, 573, 613, 614]

#for a in range(19):
#   p.append(random.randint(1, 1000))
#   print(sorted(p))
#   plt.boxplot(p)
#   plt.shwowo

# plt.figure(figsize=(22, 3))
# plt.xlabel("x data")
# plt.ylabel("y label")

# x = [1, 2, 3, 4, 5]
# y = [7, 8, 9, 10, 15]

# plt.plot(x, y)
# plt.show()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Íµ¨Î∂Ñ      25 non-null     object
 1   2015ÎÖÑ   25 non-null     object
 2   2016ÎÖÑ   25 non-null     object
 3   2017ÎÖÑ   25 non-null     object
 4   2018ÎÖÑ   25 non-null     object
 5   2019ÎÖÑ   25 non-null     object
 6   2020ÎÖÑ   25 non-null     object
 7   2021ÎÖÑ   25 non-null     int64
 8   2022ÎÖÑ   25 non-null     int64
dtypes: int64(2), object(7)
memory usage: 1.9+ KB

Íµ¨Î∂Ñ       0
2015ÎÖÑ    0
2016ÎÖÑ    0
2017ÎÖÑ    0
2018ÎÖÑ    0
2019ÎÖÑ    0
2020ÎÖÑ    0
2021ÎÖÑ    0
2022ÎÖÑ    0
dtype: int64